@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

@font-face {
    font-family: 'CrayonKids';
    src: local('crayonkids'), url("../../fonts/crayon kids.ttf") format('truetype');
}

.App {
    height: 100vh;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

[data-rmiz-btn-open] {
    cursor: zoom-in !important;
}

.card {
    background: rgba(255, 255, 255, 0) !important;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/*SCROLLER*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*/SCROLLER*/


.text-prim {
    color: #004266 !important;
    font-size: 18px;
}

.text-prim:hover {
    color: #ffffff !important;
    border-bottom: 2px solid black;
}

.text-prim-active {
    font-size: 18px;
    color: #ffffff !important;
    border-bottom: 2px solid black;
}

.text-menu-size {
    font-size: 18px !important;
    margin-right: 10px !important;
}

.bg-header {
    background-color: #004266 !important;
}

.bg-header-sec {
    background-color: #4dc7df !important;
}

.text-color-primary {
    color: #004266 !important;
}

.text-color-secondary {
    color: #4dc7df !important;
}

.text-color-third {
    color: #ffa73e !important;
}

.bg-primary {
    background-color: #004266 !important;
}

.test {
    content: '';
    position: fixed;
    height: 100%;
    width: 50%;
    left: 50%;
    background: #116699;
    background-size: 100% 50%
}

.bg-secondary {
    background-color: #4dc7df !important;
}

.bg-third {
    background-color: #ffa73e !important;
}

.bg-forth {
    background-color: #e04e2d !important;
}

.text-color-secondary {
    color: #4dc7df !important;
}


.btn-primary {
    background-color: #004266 !important;
    border-color: #004266 !important;
}

.btn-primary:hover {
    background-color: #4dc7df !important;
    border-color: #4dc7df !important;
}

.btn-secondary {
    background-color: #4dc7df !important;
    border-color: #4dc7df !important;
}

.btn-secondary:hover {
    background-color: #004266 !important;
    border-color: #004266 !important;
}

.btn-outline-primary {
    color: #004266 !important;
    border-color: #004266 !important;
}

.btn-outline-primary:hover {
    color: #004266 !important;
    background-color: rgba(77, 199, 223, 0.9);
    border-color: #4dc7df !important;
}

label.btn.btn-primary.active {
    background-color: #4dc7df !important;
    border-color: #4dc7df !important;
}

.bg-transparent {
    background: rgba(255, 255, 255, 0.9);
}


/*CALENDAR.CSS*/
@media only screen and (max-width: 770px) {
    #root > div > div > div > div > div > div.fc-toolbar.fc-header-toolbar {
        justify-items: center !important;
        align-items: center !important;
    }

    div.fc-toolbar {
        display: flex !important;
        margin-left: 10px;
        margin-right: 10px;
    }

    div.fc-toolbar.fc-header-toolbar > div.fc-center > h2 {
        font-size: 15px !important;
        width: 85px;
        padding: 5px 5px !important;
    }

    div.fc-toolbar.fc-header-toolbar > div.fc-left > div > button {
        padding: 5px 5px !important
    }

    div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button {
        padding: 5px 5px !important
    }

    div.fc-toolbar.fc-header-toolbar > div.fc-right > button {
        margin-left: 5px !important;
    }
}

/*FOOTER.CSS*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7vh;
    width: 100%;
}

.error404 {
    background: url(https://i.ibb.co/1bwmXcq/404-01.png) no-repeat;
    float: left;
    height: 80vh;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.error404-text {
    font-family: CrayonKids;
    font-size: 30px;
    color: #5ad4ff;
}

.intro {
    background: url(https://i.ibb.co/tKkTzVK/background-01.png) no-repeat;
    float: left;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login {
    background: url(https://i.ibb.co/nQ1r3L1/login-01.png) no-repeat;
    float: left;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.register-back {
    background: url(https://i.ibb.co/Y8t4gpV/register-01.png) no-repeat;
    float: left;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text {
    font-family: CrayonKids;
    font-size: 60px;
    color: white;
    position: absolute;
    z-index: 999;
    margin: 0 7%;
    left: 0;
    right: 0;
    top: 18%;
    text-align: left;
    width: 37%;
}

.login-text {
    font-family: CrayonKids;
    font-size: 70px;
    color: white;
    text-align: left;
}
.login-smaller {
    font-family: CrayonKids;
    font-size: 25px;
    color: white;
    text-align: left;
}
@media only screen and (max-width: 700px) {
    .intro {
        background: url(https://i.ibb.co/Jr0FydZ/back-sm-01.png) no-repeat;
        float: left;
        height: 100vh;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #5ad4ff;
    border-radius: 0 4px 0 32px;
}
.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
}
.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: rgba(242, 248, 249, 0.5);
    border-radius: 4px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}
.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #5ad4ff;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.card1:hover:before {
    transform: scale(21);
}

.card1:hover h5 {
    transition: all 0.3s ease-out;
    color: #fff;
}
.card1 h5 {
    color: #004266;
}


@media (min-width: 768px) {
    .h-md-100 {height: 100vh;}
}
.btn-round { border-radius: 30px;}
.bg-indigo {background: indigo;}
.text-cyan { color: #35bdff;}

.carousel-div{
    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
}


.bookdetails-div{
    border-bottom-right-radius:30%;
    border-bottom-left-radius:30%;
}
